.SideDrawer {
    position: fixed;
    width: 100vw;
    max-height: none;
    height: 100vh;
    left:0;
    top:0;
    z-index: 200;
    background-color: white;
    transition: transform 0.5s ease;
    border-bottom: 1px solid #044da1;

}

.Nav{
    position: absolute;
    top:18%;
    left:0;
}


@media (min-width: 768px) {
    .SideDrawer{
        display:none;
    }
}

.Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-100vh);
}
