.btn{
    font-family: inherit;
    background: transparent;
    padding: 6px 12px;
    font-size: 1.2rem; 
    display: inline-block;
    color:#009ed9;
    border: solid 1px #009ed9;
    border-radius: 34.5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px; 
    cursor: pointer;
}



.btnVideo{
    width: 22rem;
    height: 5.5rem;
    border: solid 1px #fff;
    color:#fff;
}