.Button {
    border: none;
    background-color: transparent;
    padding:1rem 1.5rem;
    outline: none;
}

.Button:hover{
    outline: none;
}


.Icon{
    width:3rem;
    height: 3rem;
    fill:#044da1;
}

@media (min-width: 768px) {
    .Button {
        display: none;
    }
}