.NavBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: white;
}

/* .fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

@media screen and (max-width:767px){
    .notSmSreen{
        display: none;
    }
}


@media (min-width: 768px){
    .NavBar{
        height:5.5rem;
        padding:0 4%;
    }
    /* .padLeft
    {
        padding-left: 4%;
    }

    .padRight{
        padding-right: 4%;
    } */
}


@media (min-width: 1024px){
    .NavBar{
        padding: 0 5%;
    }
    /* .padLeft
    {
        padding-left: 5%;
    }

    .padRight{
        padding-right: 5%;
    } */
}


@media (min-width: 1440px){
    .NavBar{
        padding: 0 6%;
    }
    /* .padLeft
     {
        padding-left: 6%;
    }

    .padRight{
        padding-right: 6%;
    } */
}