  /* :root{
    --color-primary:#044da1;
    --color-white:#fff;
    --color-gray:#ddd;
    --color-dark:#000;
  } */
  
  body{  
    min-width: 320px;
    font-family: 'Product Sans', Arial, sans-serif;;
    font-size: 1.4rem;
    line-height: 1.4;
    color:#333;
    background-color: #fff;
  }

  main section{
    position: relative;
  }

  /* CSS support for React-slick carousel with flexbox  */
  * {
    min-height: 0;
    min-width: 0;
  }


  /* CSS flexbox full-height app with fixed header */
  html{
    height:100%
  }
  body{
    height:100%
  }
  .Container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .Header{
    z-index: 1030;
    flex:0 0 auto;
  }
  .Content{
    /* height: 100%; */
    flex:  0 1 auto;
    position: relative;/* need this to position inner content */
    overflow-y: auto; 
    border-top: 1px solid #044da1;
  }
  .Footer{
    background: #ddd;
  }

